@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  src: url(/assets/fonts/MaterialSymbolsOutlined.woff2) format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1.5;
  font-size: 1.5rem;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
