body {
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

code {
  font-family: Jetbrains Mono, monospace;
}

:root {
  --primary: #2060b0;
  --secondary: #4d80c0;
  --text-primary: black;
  --text-secondary: #444;
  --text-on-primary: white;
  --background: white;
  --background-secondary: #3070F0;
  --background-disabled: #dddd;
  --error: #f00;
  --warning: #dd4;
  --success: #0f0;
}

.dark {
  --primary: #000090;
  --secondary: #111150;
  --text-primary: white;
  --text-secondary: #ddd;
  --text-on-primary: white;
  --background: #222;
  --background-secondary: #333;
  --background-disabled: #444;
  --error: #f00;
  --warning: #dd4;
  --success: #0f0;
}  
