<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="/static/htmx.min.js"></script>
  <link rel="stylesheet" href="/static/index.css">

  <title>Markdown Preview Server</title>
</head>

<body>
  <h1>Hello, world!</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem at doloremque sit reprehenderit eos harum vitae
    facilis architecto ducimus perspiciatis eius repellat, laborum dolore nihil aliquam? Voluptatibus dolore alias
    omnis.</p>
</body>

</html>
